<div id="editArea">
    <div id="tool-bar">
        <nz-card>
            <h2>节点类型</h2>

            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="8" *ngFor="let node of nodes">
                    <div class="tool-box" draggable="true" (dragover)="onDragOver($event)"
                        (dragstart)="onDragStart($event,node.key)">
                        <i nz-icon nzType="{{node.icon}}" nzTheme="outline" style="font-size: 48px;"></i>
                        {{node.name}}
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
    <div id="flowContainer" #flowContainer (drop)="dropZone($event)" (dragover)="onDragOver($event)">
    </div>
    <i nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 40px;display:none;" #start></i>
    <i nz-icon nzType="check-circle" nzTheme="outline" style="font-size: 40px;display:none;" #work></i>
    <i nz-icon nzType="stop" nzTheme="outline" style="font-size: 40px;display:none;" #end></i>
</div>