.content {
  position: relative;
  .tree {
    position: absolute;
    left: 0;
    width: 300px;
    nz-card {
      margin-top: 0;
      min-height: calc(100vh - 153px);
    }
  }
  .menuTable {
    margin-left: 310px;
    min-width: 300px;
    nz-card {
      min-height: calc(100vh - 153px);
    }
  }
}
