<nz-layout class="fullscreen">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
        <div class="user">
            <nz-badge nzDot>
                <nz-avatar nzIcon="user"></nz-avatar>
            </nz-badge>
            <a nz-dropdown [nzDropdownMenu]="menu" class="userName">
                Hover me
                <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>个人信息</li>
                    <li nz-menu-item (click)="logout()">注销</li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider nzWidth="200px">
            <ul nz-menu nzMode="inline" nzTheme="light" class="sider-menu">
                <li nz-menu-item >
                    <i nz-icon nzType="file"></i>                    
                    <span><a [routerLink]="[ '/dashboard' ]">公告栏</a></span>
                </li>
                <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
                    <ul>
                        <li nz-menu-item nzSelected>option1</li>
                        <li nz-menu-item>option2</li>
                        <li nz-menu-item>option3</li>
                        <li nz-menu-item>option4</li>
                    </ul>
                </li>
                <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
                    <ul>
                        <li nz-menu-item>option5</li>
                        <li nz-menu-item>option6</li>
                        <li nz-menu-item>option7</li>
                        <li nz-menu-item>option8</li>
                    </ul>
                </li>
                <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
                    <ul>
                        <li nz-menu-item>option9</li>
                        <li nz-menu-item>option10</li>
                        <li nz-menu-item>option11</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option12</li>
                        <li nz-menu-item>option18</li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>List</nz-breadcrumb-item>
                <nz-breadcrumb-item>App</nz-breadcrumb-item>
            </nz-breadcrumb>
            <ng-content></ng-content>
        </nz-layout>
    </nz-layout>
</nz-layout>