<div class="container">
    <nz-card style="margin: 0;">
        <h1>Convience</h1>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入您的用户名!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="用户名" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入您的密码!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="密码" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请输入验证码!">
                    <nz-input-group nzPrefixIcon="key" style="width:50%;">
                        <input type="text" nz-input formControlName="captchaValue" placeholder="验证码" />
                    </nz-input-group>
                    <div style="width:50%; text-align: center;display: inline-block;">
                        <img [src]="captcha" (click)="refreshCaptcha()">
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <!-- <label nz-checkbox formControlName="remember">
                        <span>记住我</span>
                    </label>
                    <a class="login-form-forgot" class="login-form-forgot">忘记密码</a> -->
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoading">登录</button>
                    <!-- <a>现在注册!</a> -->
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>