.fullwindow {
    min-height: calc(100vh - 175px);
    iframe {
        min-height: calc(100vh - 205px);
    }
    .activeForm {
        margin-top: 16px;
        border: 1px dashed gray;
        padding: 10px;
        border-radius: 6px;
        min-height: 200px;
    }
}
