.fullwindow {
    min-height: calc(100vh - 230px);
    .activeForm {
        margin-top: 16px;
        border: 1px dashed gray;
        padding: 10px;
        border-radius: 6px;
        min-height: 200px;
    }
    .codeEditor {
        min-height: calc(100vh - 350px);
    }
}
