<div class="content" (click)="click()">
    <i class="contentIcon" nz-icon [nzIconfont]="getIconType()"></i>
    <div class="describe">
        <p>{{file.fileName}}</p>
        <p>{{file.createTime | date: 'yyyy-MM-dd'}}</p>
    </div>
    <div class="layer">
        <button *ngIf="!file.isDirectory" class="control" nz-button nzType="primary" nzShape="circle" (click)="download()"><i nz-icon nzType="cloud-download"></i></button>
        <button class="control" nz-button nzType="primary" nzShape="circle" (click)="delete()"><i nz-icon nzType="delete"></i></button>
    </div>
</div>