<nz-layout class="fullscreen">
    <nz-header>
        <div class="logo">
            <label>Convience</label>
        </div>
        <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul> -->

        <div class="user">
            <a nz-dropdown [nzDropdownMenu]="menu" [nzOverlayStyle]="{width:'130px',top:'15px'}" class="userName">
                <nz-badge nzDot>
                    <nz-avatar *ngIf="!avatar" nzIcon="user"></nz-avatar>
                    <nz-avatar *ngIf="avatar" [nzSrc]="getImgUrl(avatar)"></nz-avatar>
                </nz-badge>
                {{name}}
                <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>个人信息</li>
                    <li nz-menu-item (click)="modifyPwd()">修改密码
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="logout()">注销</li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider nzWidth="200px" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
            <ul nz-menu nzMode="inline" nzTheme="light" class="sider-menu">
                <li nz-menu-item nzMatchRouter *canOperate="'dashaboard'">
                    <a [routerLink]="[ '/dashboard' ]" (click)="setBreadcrumb('仪表盘')">
                        <i nz-icon [nzType]="'dot-chart'"></i><span *ngIf="!isCollapsed">仪表盘</span></a>
                </li>
                <li nz-submenu nzIcon="setting" nzTitle="系统管理" *canOperate="'systemmanage'">
                    <ul>
                        <li nz-menu-item nzMatchRouter *canOperate="'userManage'">
                            <a [routerLink]="[ '/system/user' ]" (click)="setBreadcrumb('系统管理','用户管理')">
                                <i nz-icon [nzType]="'user'"></i>用户管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'roleManage'">
                            <a [routerLink]="[ '/system/role' ]" (click)="setBreadcrumb('系统管理','角色管理')">
                                <i nz-icon [nzType]="'idcard'"></i>角色管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'menuManage'">
                            <a [routerLink]="[ '/system/menu' ]" (click)="setBreadcrumb('系统管理','菜单管理')">
                                <i nz-icon [nzType]="'menu'"></i>菜单管理</a></li>
                    </ul>
                </li>
                <li nz-submenu nzIcon="team" nzTitle="组织管理" *canOperate="'groupmanage'">
                    <ul>
                        <li nz-menu-item nzMatchRouter *canOperate="'employeeManage'">
                            <a [routerLink]="[ '/group/employee' ]" (click)="setBreadcrumb('组织管理','员工管理')">
                                <i nz-icon [nzType]="'reconciliation'"></i>员工管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'positionManage'">
                            <a [routerLink]="[ '/group/position' ]" (click)="setBreadcrumb('组织管理','职位管理')">
                                <i nz-icon [nzType]="'credit-card'"></i>职位管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'departmentManage'">
                            <a [routerLink]="[ '/group/department' ]" (click)="setBreadcrumb('组织管理','部门管理')">
                                <i nz-icon [nzType]="'apartment'"></i>部门管理</a></li>
                    </ul>
                </li>
                <li nz-submenu nzIcon="book" nzTitle="内容管理" *canOperate="'contentmanage'">
                    <ul>
                        <li nz-menu-item nzMatchRouter *canOperate="'fileManage'">
                            <a [routerLink]="[ '/content/article' ]" (click)="setBreadcrumb('内容管理','文章管理')">
                                <i nz-icon [nzType]="'align-left'"></i>文章管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'fileManage'">
                            <a [routerLink]="[ '/content/column' ]" (click)="setBreadcrumb('内容管理','栏目管理')">
                                <i nz-icon [nzType]="'database'"></i>栏目管理</a></li>
                        <li nz-menu-item nzMatchRouter *canOperate="'fileManage'">
                            <a [routerLink]="[ '/content/file' ]" (click)="setBreadcrumb('内容管理','文件管理')">
                                <i nz-icon [nzType]="'file'"></i>文件管理</a></li>
                    </ul>
                </li>
                <li nz-submenu nzIcon="deployment-unit" nzTitle="SAAS管理" *canOperate="'saasmanage'">
                    <ul>
                        <li nz-menu-item nzMatchRouter *canOperate="'tenantManage'">
                            <a [routerLink]="[ '/saas/tenant' ]" (click)="setBreadcrumb('SAAS管理','租户管理')">
                                <i nz-icon [nzType]="'user'"></i>租户管理</a></li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-card [nzSize]="'small'" style="margin-top: 10px;">
                <div style="display:flex;display: -webkit-flex;align-items:center;">
                    <div style="float: left;">
                        <button nz-button nzType="link" nzSize="small" (click)="isCollapsed = !isCollapsed">
                            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                        </button>
                    </div>
                    <div style="float: left;padding:0 10px;color: lightgray;">|</div>
                    <nz-breadcrumb style="margin:0;float: left;top: 50%;">
                        <nz-breadcrumb-item *ngFor="let info of breadcrumbInfo">{{info}}</nz-breadcrumb-item>
                    </nz-breadcrumb>
                </div>
            </nz-card>
            <ng-content></ng-content>
        </nz-layout>
    </nz-layout>
</nz-layout>


<ng-template #editPwdTitleTpl>
    <span>修改密码</span>
</ng-template>
<ng-template #editPwdContentTpl>
    <form nz-form [formGroup]="modifyForm" (ngSubmit)="submitForm()" nzLayout="horizontal">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入旧密码!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="oldPassword" placeholder="旧密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入新密码!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="newPassword" placeholder="新密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="confirmPassword" placeholder="确认密码" />
                </nz-input-group>
                <ng-template #confirmPasswordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('notEqual')">
                        两次密码输入不一致!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        请输入确认密码!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoading">确认修改</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>