.avatar-container {
  width: 100px;
  height: 100px;
  border: 1px dashed #d9d9d9;
  padding: 8px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.upload-icon {
  font-size: 32px;
  color: #999;
}
img {
  width: 80px;
  height: 80px;
}
.avatar-select {
  margin: 5px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid gray;
}
.avatar-select:hover {
  border: 1px solid green;
}
.avatar-selected {
  border: 1px solid yellowgreen !important;
}


