nz-tag {
  margin: 0;
}

.two-column {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .left {
    width: 300px;
    height: 100%;
    nz-card {
      height: 100%;
      margin-top: 10px;
    }
  }

  .right {
    width: calc(100% - 310px);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    #searchBar {
      margin-top: 0;

      nz-form-label {
        width: 70px;
      }

      input {
        width: 150px;
      }

      nz-select {
        width: 150px;
      }
    }

    #userCard {
      flex-grow: 1;
    }
  }

  nz-card {
    height: auto;
  }
}
