<nz-row [nzGutter]="10">
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.userCount" [nzTitle]="'用户数量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.roleCount" [nzTitle]="'角色数量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.departmentCount" [nzTitle]="'部门数量'"></nz-statistic>
        </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
        <nz-card [nzSize]="'small'">
            <nz-statistic [nzValue]="data.positionCount" [nzTitle]="'职位数量'"></nz-statistic>
        </nz-card>
    </nz-col>
</nz-row>
<div nz-row nzGutter="10">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2条形图">
            <div id="c1"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2饼图" style="text-align: center;">
            <div id="c2"></div>
        </nz-card>
    </div>
</div>
<div nz-row nzGutter="10">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2漏斗图">
            <div id="c3"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'" nzTitle="G2仪表盘" style="text-align: center;">
            <div id="c4"></div>
        </nz-card>
    </div>
</div>