<div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <div class="card">
            <div id="c1"></div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <div class="card">
            <div id="c2"></div>
        </div>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <div class="card">
            <div id="c3"></div>
        </div>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <div class="card">
            <div id="c4"></div>
        </div>
    </div>
</div>