<div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'">
            <div id="c1"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'">
            <div id="c2"></div>
        </nz-card>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'">
            <div id="c3"></div>
        </nz-card>
    </div>
    <div nz-col class="gutter-row" nzMd="12" nzSm="24">
        <nz-card [nzSize]="'small'">
            <div id="c4"></div>
        </nz-card>
    </div>
</div>