<div class="container">
    <div class="login-card">
        <mat-card>
            <h2>Saas示例应用</h2>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="登录">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <mat-form-field appearance="legacy" style="width:100%;margin-top: 10px;">
                            <mat-label>请输入用户名</mat-label>
                            <input matInput placeholder="用户名" formControlName="account">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" style="width:100%;margin-top: 10px;">
                            <mat-label>请输入密码</mat-label>
                            <input matInput placeholder="密码" formControlName="password" type="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <p>用户登录后所有操作均在自己的schema下执行</p>
                        <button mat-stroked-button class="block-btn" style="margin-top: 10px;">登录</button>
                    </form>
                </mat-tab>
                <mat-tab label="注册">
                    <form [formGroup]="registForm" (ngSubmit)="regist()">
                        <mat-form-field appearance="legacy" style="width:100%;margin-top: 10px;">
                            <mat-label>请输入用户名</mat-label>
                            <input matInput placeholder="用户名" formControlName="account">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" style="width:100%;margin-top: 10px;">
                            <mat-label>请输入密码</mat-label>
                            <input matInput placeholder="密码" formControlName="password" type="password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <p>注册时会自动创建对应的schema</p>
                        <button mat-stroked-button class="block-btn" style="margin-top: 10px;">注册</button>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>