<div id="edit-area">
    <div id="tool-container">
        <nz-card>
            <h2>节点类型</h2>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,1)">
                <label>标签</label>
            </div>
            <div class="control" draggable="true" (dragstart)="onDragStart($event,2)">
                <input nz-input placeholder="输入框" />
                <div style="position:absolute; top:0;width: 100%;height: 100%;"></div>
            </div>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,3)">
                <nz-select style="width: 100%;" nzPlaceHolder="选择器"></nz-select>
            </div>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,4)">
                <nz-input-number style="width: 100%;" [nzPlaceHolder]="'数值输入'"></nz-input-number>
            </div>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,5)">
                <nz-date-picker style="width: 100%;"></nz-date-picker>
            </div>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,6)">
                <nz-time-picker style="width: 100%;"></nz-time-picker>
            </div>
            <div draggable="true" class="control" (dragstart)="onDragStart($event,7)">
                <textarea rows="4" nz-input style="width: 100%;" placeholder="多行文本"></textarea>
            </div>
        </nz-card>
    </div>
    <div id="form-Container">
        <nz-card>
            <div id="form-area" #formArea (drop)="dropZone($event)" (dragover)="onDragOver($event)">
            </div>
        </nz-card>
    </div>


    <div #label class="formElement">
        <label>标签</label>
    </div>
    <div #input class="formElement">
        <input nz-input value="输入框" style="color: black;" readonly="readonly" />
        <div style="position:absolute; top:0;width: 100%;height: 100%;"></div>
    </div>
</div>