<nz-card [nzSize]="'small'" class="cardStyle">
    <h3>修改密码</h3>
    <form nz-form [formGroup]="modifyForm" (ngSubmit)="submitForm()" nzLayout="horizontal">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入旧密码!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="oldPassword"
                        placeholder="旧密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入新密码!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="newPassword"
                        placeholder="新密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input type="password" formControlName="confirmPassword"
                        placeholder="确认密码" />
                </nz-input-group>
                <ng-template #confirmPasswordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('notEqual')">
                        两次密码输入不一致!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        请输入确认密码!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'"
                    [nzLoading]="isLoading">确认修改</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>